body {
    font-family: "Monaco", "Courier New", monospace;
    background-color: #365ca8;
    margin: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 2000vh;
    overflow: hidden;
}

.buttons {
    width: 400px;
    height: 400px;
    display: inline;
}

.action_btn {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: inline;
    font-size: 1.6rem;
    background-color: #fcc726; /* button background color */
    border: none; 
    color: white; /* text color  */
    font-size: 50px;
    border-radius: 10px;
    transition: background-color 0.3s; /*Smooth hover effect */
}

.action_btn:hover {
    background-color: #fa7014; /* hover color */
}
