body {
    font-family: "Monaco", "Courier New", monospace;
    background-color:  #353535;
    margin: 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    height: 2000vh;
    overflow: hidden;
}

.buttons {
    display: inline;
}


.singleplayer {
    width: 400px;
    height: 400px;
    margin: 25px;
    display: inline;
    background-color: #fcc726;
    /* button background color */
    border: none;
    color: white;
    /* text color  */
    font-size: 50px;
    border-radius: 10px;
    transition: background-color 0.3s;
    /*Smooth hover effect */

}


.multiplayer {
    width: 400px;
    height: 400px;
    margin: 25px;
    display: inline;
    background-color: #69ddff; /* button background color */
    border: none;
    color: white; /* text color  */
    font-size: 50px;
    border-radius: 10px;
    transition: background-color 0.3s;  /*Smooth hover effect */

}

.singleplayer:hover {
    background-color: #fa7014;
    transform: scale(1.03);
    
}

.multiplayer:hover {
    background-color: #fa7014;
    transform: scale(1.03);
    
}